[submodule "apidoctor"]
	path = apidoctor
	url = https://github.com/OneDrive/apidoctor.git
[submodule "msgraph-sdk-powershell"]
	path = msgraph-sdk-powershell
	url = https://github.com/microsoftgraph/msgraph-sdk-powershell.git
